@import url('https://fonts.googleapis.com/css?family=Rubik:300,700&display=swap');

body {
  margin: 0;
  font-family: 'Rubik' !important;
	font-weight:300 !important;
	color: #DEF2F1 !important;
  height:100%;
  background-color: #17252A !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-2{
  font-weight:700 !important;
}

.display-4{
  font-weight:700 !important;
  margin-bottom: -25px !important;
}

.h1{
  font-size: 85px !important;
  color: #3AAFA9 !important;
  letter-spacing: -3px !important;
}

.h2{
  font-weight:700 !important;
  font-size: 30px !important;
  letter-spacing: 2px !important;
  color: #2B7A78!important;
  letter-spacing: -3px;
  margin-bottom: -9px !important;
}

.divMovie{
  margin-top: 40px;
  float: none;
}

.btn_back{
width:10%;
}

.back{
  align-content: center !important;
  text-align: center !important;
  margin: 20px;
}

.h5{
  font-weight:700 !important;
}

.buscador{
background-color: #2B7A78!important;
padding: 30px;
border-radius: 20px;
text-align: center;
}

.form-group{
  text-align: center !important;
}

.bold{
  font-weight:700 !important;
}

.card-img-top{
  border-radius: 20px !important;
}

.movieCard{
background-color:#3AAFA9 !important;
padding-right: 20px;
padding-left: 20px;
padding-bottom:  20px;
padding-top: 30px;
border-radius: 20px;
}

.actors{
  background-color: #2B7A78;
  color: #fff !important;
  border-radius: 20px !important;
}

.featuring{
  padding-bottom: -50px !important;
  margin-bottom: -50px !important;

}
.info{
  background-color: #3AAFA9 !important;
  border-radius: 20px !important;
margin-top: 30px;
margin-bottom: 30px;
}

.borde_rodo{
  border-radius: 20px !important;
   margin-top: 30px; 
}

.col-md-7{
padding-left: 50px !important;
padding-right: 70px !important;
}

.noFloat{
  float: none;
}

.btn-primary{
  background-color: #3AAFA9 !important;
  border-color: #3AAFA9 !important;
}

.center{
  text-align: center !;
}

.jumbotron{
padding: 0px !important;
background-color: #17252A !important;
}

.mainDiv{
  text-align: center;
}

.centrar {
  margin-top:20px;
  margin-bottom:auto;
  text-align:center !important;
}

.footer{
  background-color: #3AAFA9 !important;
  margin-top: 50px;
  color: #e1e1e1 !important;
  padding: 20px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
top: auto;
bottom: 0;
padding: 1em;
height: 4.75em;
background: #79FAC4;
color: #3c4a50;
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
-webkit-transform: translate3d(0,100%,0);
transform: translate3d(0,100%,0);
visibility: hidden;

}

.hovereffect img {
  display: block;
  position: relative;
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
float: left;
margin: 0px;
display: inline-block;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
color: #fff;
border: 1px solid #fff;
margin: 50px 0 0 0;
background-color: transparent;
}
.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
float: right;
color: #3c4a50;
font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
-webkit-transform: translate3d(0,200%,0);
transform: translate3d(0,200%,0);
visibility: visible;
}

.hovereffect p.icon-links a span:before {
display: inline-block;
padding: 8px 10px;
speak: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
-webkit-transition-delay: 0.05s;
transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
-webkit-transition-delay: 0.15s;
transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
-webkit-transition-delay: 0.2s;
transition-delay: 0.2s;
}




